<% if user_signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'users/info' %>
      </section>
      <section>
        <%= render 'users/stats' %>
      </section>
      <section>
        <%= render 'statuses/form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>My Feed</h3>
      <ul class="feed">
        <%= render partial: 'users/feed_item', collection: @feed_items %>
       </ul>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to Happening</h1>

  <h2>Find out what&rsquo;s happening near you</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
