<h1>Displaying events near you</h1>

<table class="table events">
<% @events.each do |event| %>
  <tr>
    <td class="logo">
      <% if event.logo.nil? %>
        <%= link_to image_tag("no_image.jpg"), event %>
      <% else %>
        <%= link_to image_tag(event.logo), event %>
      <% end %>
    </td>
    <td>
      <h4><%= link_to event.title, event %></h4>
      <dl>
        <dt class="icon-time"></dt>
        <dd><%= event.start_date %></dd>
        <dt>Venue:</dt>
        <dd><%= event.venue_name %></dd>
        <dt class="icon-map-marker"></dt>
        <dd><%= event.address %></dd>
        <dt>Distance:</dt>
        <dd class="distance"><%= event.distance %></div> 
      </dl>
      <%= render partial: 'likes/like_form', locals: { like_object: find_like(current_user, event), likeable: event } %>
    </td>
  </tr>
<% end %>
</table>
