<h3><%= @event.title %></h3>
<div class="externalurl"><%= link_to @event.url, @event.url %></div>
<div class="datetime"><strong>Starts on:</strong> <%= @event.start_date %></div>
<div class="address"><strong>Venue: </strong><%= @event.venue_name %></div>
<div class="address"><strong>Address: </strong><%= @event.address %></div>
<div class="distance"><strong>Distance: </strong><%= @event.distance %></div>
