<div class="groupon_header">
  <h1>Displaying deals near you</h1>
  <%= link_to image_tag("powered_by_groupon.png", 
 alt: "Groupon"), "http://www.groupon.com" %>
</div>

<table class="table deals">
<tbody>
<% @deals.each do |deal| %>
  <tr>
    <td><%= link_to image_tag(deal.image_small), deal %></td>
    <td>
      <h4><%= link_to deal.title, deal %></h4>
      <dl>
        <dt>Merchant:</dt>
        <dd><%= deal.merchant_name %></dd>
        <dt class="icon-map-marker"></dt>
        <dd><%= deal.address %></dd>
        <dt>Distance:</dt>
        <dd class="distance"><%= deal.distance %> <%= @distance_metric %></div> 
      </dl>
      <%= render partial: 'likes/like_form', locals: { like_object: find_like(current_user, deal), likeable: deal } %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
