<div class="groupon_header"><%= link_to image_tag("powered_by_groupon.png", 
 alt: "Groupon"), "http://www.groupon.com" %></div>
<h3><%= @deal.title %></h3>
<strong><%= @deal.merchant_name %></strong><br />
<div class="address"><%= @deal.address unless @deal.address.nil? %></div>
<div class="externalurl"><%= link_to @deal.url, @deal.url %></div>
<div class="distance">Distance: <%= @deal.distance %> <%= @distance_metric %></div>
<%= image_tag(@deal.image_large) %>
<div class="before_photo">
<%= render partial: 'likes/like_form', locals: { like_object: find_like(current_user, @deal), likeable: @deal } %>
</div>
<%= render partial: 'comments/comment_form', locals: { commentable: @deal } %>
<br />
<ul class="comments">
  <%= render @deal.comments %>
</ul> 

