<% unless @photo.location_name.nil? %>
<h3>Location: <%= @photo.location_name %></h3>
<% end %>
<% unless @photo.title.nil? %>
<div><%= @photo.title %></div>
<% end %>
<div class="externalurl"><%= link_to @photo.url, @photo.url %></div>
<div class="distance">Distance: <%= @photo.distance %></div>
<%= image_tag(@photo.image_large) %>
