<% unless @photo.location_name.nil? %>
<h3>Location: <%= @photo.location_name %></h3>
<% end %>
<% unless @photo.title.nil? %>
<div><%= @photo.title %></div>
<% end %>
<div class="externalurl"><%= link_to @photo.url, @photo.url %></div>
<div class="distance">Distance: <%= @photo.distance %></div>
<%= image_tag(@photo.image_large) %>
<div class="before_photo">
<%= render partial: 'likes/like_form', locals: { like_object: find_like(current_user, @photo), likeable: @photo } %>
</div>
<%= render partial: 'comments/comment_form', locals: { commentable: @photo } %>
<br />
<ul class="comments">
  <%= render @photo.comments %>
</ul>
