<footer class="footer">
  <small>
    <a href="#">Happening</a>
    by <%= link_to "@arvindevo", "https://twitter.com/arvindevo" %>

    Latitude: <%= @coordinates[0] %>
    Longitude: <%= @coordinates[1] %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

