<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Happening", root_path, id: "logo" %>
      <% if user_signed_in? %>
        <nav>
          <ul class="nav">
            <%= nav_link "Photos", photos_path %>
            <%= nav_link "Events", events_path %>
            <%= nav_link "Deals", deals_path %>
            <%= nav_link "Restaurants", restaurants_path %>
            <%= nav_link "Landmarks", landmarks_path %>
          </ul>
        <nav>
      <% end %>

      <nav>
        <ul class="nav pull-right">
          <%= nav_link "Home", root_path %>
          <%= nav_link "Help", help_path %>
          <% if user_signed_in? %>
            <%= nav_link "Users", users_path %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", settings_path %></li>                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li> 
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

